<div class="jumbotron col-md-12 col-sm-12">

    <h1>TWEE-PEAT</h1>

    <p class="lead">BULK SCHEDULING AND DELIVERY OF TWEETS</p>
    <p class="lead">IMPORT TWEETS FROM EXCEL OR CSV</p>

    <p>
        <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), class: "btn btn-lg btn-success", role: "button"  %>
    </p>
</div>
