<%= render partial: "/layouts/flash" %>

<div class="row marketing">

  <div class="col-md-4">
    <h4>IMPORT YO' SPREADSHEET</h4>
    <p>Supports .csv, .xls, .xlsx files. </p>
    <p>2 columns, super easy-to-import.</p>
  </div>

  <div class="col-md-4">
    <h4>AUTO-MAGIC</h4>
    <p>Schedules tweets to your timezone. </p>
    <p>Re-queues delayed messages.</p>
  </div>

  <div class="col-md-4">
    <h4>VISUALIZE</h4>
    <p>Track deliveries, duplicates, and fails. </p>
    <p>Visualize your queue and past history.</p>
  </div>

</div>
