<div class="row marketing">

  <div class="col-md-4">
    <h4>Upload A File of Tweets</h4>
    <p>Supports .csv, .xls, .xlsx files. Just login and import. </p>
    <p>No fancy setup, ready to import.</p>
  </div>

  <div class="col-md-4">
    <h4>Auto Import and Schedule</h4>
    <p>Immediately queues your tweets according to your specific timezone. </p>
    <p>Automatically re-queues delayed messages.</p>
  </div>

  <div class="col-md-4">
    <h4>Analytics</h4>
    <p>Tracks successful deliveries, duplicates, or fails. </p>
    <p>Visualize your queue frequency and past history.</p>
  </div>

</div>
