<div class="row">
  <%= render partial: "jumbotron" %>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= render partial: "marketing" %>
  </div>
  <div class="col-md-2"></div>
</div>
