<% content_for :header do %>
    <h3>IMPORT</h3>
<% end %>

<%= render partial: "/layouts/flash" %>

<div class="col-md-4">
    <%= form_for @tweets_importer, url: tweets_importers_path do |f| %>
        <fieldset>
            <legend>Upload</legend>
            <div class="form-group">
                <%= f.label "File", for: "file" %>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-file"></i>
                    </div>
                <%= f.file_field :file, class: "form-control" %>
                </div>

            </div>

            <button type="submit" class="btn btn-default">Upload</button>
        </fieldset>
    <% end %>

</div>
