/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import "base";
@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans);

body {
    font-family: 'Roboto', sans-serif;
    //font-family: 'Open Sans', sans-serif;
}

.navbar-mobile  { border-top: 1px solid #a6a6a6; }
.dropdown { 
    margin-right: -15px;
    height: 50px;
}
.navbar-button {
    width: 50px;
    height: 50px;

    background-size: cover;
    background-color: rgb(34, 34, 34);
    border-radius: 0px;
    border: none;
    &:click {
        border: 0;
    }
}
.navbar-title {
    margin-top: -52px;
    margin-left: 8px;
    color: black;
    font-family: 'courier';
}
.navbar-brand { 
    margin-right: 50px; 
    img  { width: 100px; }
}

@media (min-width: 768px) {
    .navbar-mobile {
        display: none;
    }    
}
@media (max-width: 768px) {
    .navbar-desktop { display: none; }
}
