/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import "datepicker";

@import "base";
@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans);

@import "dashboard";

@import "form";
@import "sidepane";
@import "splash";


$navbar-bg-color: #ffffff;

body {
    font-family: 'Roboto', sans-serif;
    //font-family: 'Open Sans', sans-serif;
}
.navbar-container { height: 90px; }

.navbar-mobile  {
    border-top: 1px solid #a6a6a6;
    margin-top: -10px;
}

.dropdown { 
    margin-right: -15px;
    height: 50px;
}
button.navbar-button { background-color: $navbar-bg-color; }
.navbar-button {
    width: 50px;
    height: 50px;

    background-size: cover;
    background-color: $navbar-bg-color;
    border-radius: 0px;
    border: none;
    &:click {
        border: 0;
    }
}
.navbar-title {
    float:left;
    margin-left: 15px; 
    color: black;
    font-family: 'courier';
}
.navbar-logo {    
    float: left;
    margin-left: 25px;
    width: 50px;
}

@media (min-width: 768px) {
    .navbar-mobile {
        display: none;
    }    
}
@media (max-width: 768px) {
    .navbar-desktop { display: none; }
    .navbar-title { margin-top: 0; }
    .navbar-logo { 
        width: 30px; 
        margin-top: -10px;
    }
}

h2.title { font-size: 46px; }
.jumbotron {
    background: wheat;
    padding-bottom: 0px;
}

.marketing { text-align:center; }
