/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body.app {
    padding-top: 100px;
}



/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.navbar-default {
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
}
.nav.navbar-nav {
    @media (max-width: 768px) {
        margin-left: 0px;
    }
    //margin-left: 125px;
    background: white;
    
}

.navbar li { 
    margin-left: 20px;
    margin-right: 10px;
}
 
.navbar-default .navbar-nav > li > a {
    padding-top: 10px; 
    padding-bottom: 10px;
    //color: #2980b9;
    color: #2c3e50;
    &:hover { color: #3498db; }
}

.navbar li div {
    width: 100%;
    text-align:center;
    @media (max-width: 768px) {
        display:inline;
        padding: 0 5px;
    }

    font-size: 14px;
    padding-top: 8px;

}
.active_nav {
    border-bottom: 0px;
    @media (min-width: 768px) {
        border-bottom: 2px solid #000;
    }
}

.navbar li div.glyphicon { 
    font-size: 24px; 
    height: 38px;
}

.navbar-desktop {
    margin-top: 15px;
}
ul.dropdown-menu { 
    margin-right: -16px; 
    margin-top: 16px;
}

/*
 * Main content
 */

.main {
    padding: 0px 40px;
    @media (max-width: 768px) { margin-top: 0px; }
}



/*table*/
td .btn {
    font-size: 80%;
}
th { font-size: 18px; }

th > a { 
    font-weight: 400; 
    color: #333 !important;
    
    &:hover { text-decoration:none !important; }
}

th .caret {
    font-weight: normal;
    margin-right: 8px;
}

.table tr td { padding-top: 10px !important; }main
.table tr td:last-child { padding-top: 5px !important; }

.table > thead > tr > th { border-bottom: 1px solid #ddd; }
td:last-child { text-align:right; }

.status-good { color: #5cb85c; }
.status-poor { color: #f0ad4e; }
.status-fail { color: #d9534f; }

/* header */
.subheader {
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-top: 10px;
    background: #efefef;
    border-top:  1px solid darken(#efefef, 10%);
    border-bottom: 1px solid darken(#efefef, 10%);
}
