.container-fluid .jumbotron {
    border-radius:0px;
    text-align:center;
}

.jumbotron {
    background-image: url('http://s3.amazonaws.com/bundlr-app-production/clips/thumbnail_urls/original/543192245fbc757bf40003e5/default_background.jpg?1412534822');
    background-size: cover;
    background-position-y: 80%;
}
